<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'/home'">Drink Diary</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a *ngIf="authenticated" class="nav-link" [routerLink]="'/data'"
          >Data</a
        >

        <a *ngIf="!authenticated" class="nav-link" [routerLink]="'/signin'"
          >Sign in</a
        >
        <a *ngIf="!authenticated" class="nav-link" [routerLink]="'/signup'"
          >Sign up</a
        >

        <a
          *ngIf="authenticated"
          class="nav-link fake-anchor"
          (click)="handleSignOut()"
          >Sign out</a
        >

        <a class="nav-link" [routerLink]="'/help'">Help</a>
      </div>
    </div>
  </div>
</nav>
