<section class="center-container">
  <div class="content">
    <h1
      class="my-4"
      title="I made it for myself, then I overengineered it to death, resulting in something that no one would use 😂."
    >
      Drink Diary
    </h1>
    <p class="mb-3">
      Introducing "<span>Drink Diary: Your Sip Tracker</span>". Elevate your
      beverage game with Drink Diary - your ultimate tool for monitoring your
      beverage consumption. Seamlessly track your daily tea, coffee, and other
      beverage intake as you journey towards better wellness. Joining is a
      breeze - sign up for free and dive into a world of refreshed
      possibilities. Seamlessly update your drink data via web or our sleek iOS
      app, all designed to keep you in sync with your goals. Drink Diary is made
      keeping you in mind. Enjoy our user-friendly interface while staying
      aligned with your goals as you track your drink count throughout the day.
      And the best part? It's secured and a privacy-centric app. Join us today
      and raise your glass to a future of elevated wellness. Cheers to your
      journey with Drink Diary!
    </p>
    <button
      *ngIf="!authenticated"
      class="btn btn-primary btn-md"
      (click)="handleCTA()"
    >
      Sign up for free!
    </button>
  </div>
</section>
